/* CSS Variables */
:root{
	--background-color: #203146;
	--color: white;
	--hover-color: #d90303;
	--font-size: 16px;
	--font-family: 'Lato';
}

/* Style */
body, html{
	background-color: var(--background-color);
	/* background-image: url("..images/logo_blue.png"); */
	color: var(--color);
	font-family: var(--font-family);
	font-size: var(--font-size, 16px);
	font-weight: 400;
	margin: 2%;
}

h1{
	font-family: var(--font-family);
	font-size: 3rem;
	text-align: center;
}

h2{
	color: red;
	font-family: var(--font-family);
	font-size: 2.25rem;
	text-align: center;
	padding-bottom: 1.25rem;
}

h3{
	font-family: var(--font-family);
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 1.25rem;
}

p{
	font-family: var(--font-family);
	font-size: 1rem;
	text-align: center;
	padding-bottom: 1.25rem;
}

/* Header */
.skip{
	color: var(--color);
	position: absolute;
	overflow: hidden;
	left: -9999px;
	z-index: -999;
}

.skip:focus{
	position: relative;
	left: 0px;
}

/* Desktop nav
.nav{
	display: flex;
} */

/* Mobile nav */
/* .nav li{
	border: 1px solid white;
} */

.nav a{
	background-color: var(--background-color);
	color: var(--color);
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.nav a.current{
	text-decoration: underline;
}

.nav a:hover{
	background-color: var(--hover-color);
}

.nav li:first-child{
	margin-right: auto;
}

.nav .nav_logo{
	height: 40px;
	width: 40px;
}

.home_logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.social_media{
	text-align: center;
}

.social_media li{
	display: inline;
	padding: 5px;
}

.social_media .social_media_logo{
	color: var(--color);
}

.container{
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: auto auto auto;
	justify-content: center;
	align-items: center;
}

.container img{
	height: 250px;
	width: 100%;
}

iframe{
	height: 450px;
	width: 100%;
}

.menu h3{
	text-align: center;
	padding-right: 30px;
}

.menu p{
	text-align: justify;
	padding-left: 30px;
}

.items{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
}

.contact{
	text-align: center;
}

.name{
	height: 1.5rem;
	width: 600px;
}

.email{
	height: 1.5rem;
	width: 600px;
}

.subject{
	height: 1.5rem;
	width: 600px;
}

.message{
	height: 100px;
	width: 600px;
}

@media screen and (orientation: portrait){
	/* body, html{
		font-size: 20px;
	} */
	.menu p{
		text-align: left;
	}
	.container{
			grid-template-columns: auto auto;
	}
}

@media screen and (min-width: 768px){
	.skip{
		padding: 6px;
		position: absolute;
		top: -40px;
		left: 0px;
		color: white;
		border-left: 1px solid white;
		border-right: 1px solid white;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		/* border-bottom-right-radius: 8px; */
		background: #d90303;
	  z-index: 100;
	}

	.skip:focus{
		position: relative;
		left: 0px;
	}
}

@media screen and (min-width: 1024px){
	nav ul{
		display: flex;
		justify-content: flex-end;
	}
	nav ul li{
		display: inline-block;
		background: #203146;
	}
}
